<div class="headerContainer">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="logo">
        <img src="assets/img/logo.png" routerLink="/pages/home">
      </div>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <div class="row h-100">
        <div class="col-12 p-0 border-bottom h-100">
          <div
            [ngClass]="{'text-right': screenWidth > 960, 'd-flex flex-column flex-sm-row': screenWidth <= 960, 'mt-5': screenWidth <= 960 && screenWidth > 640}">
            <div class="TitleContainer"
                 [ngClass]="{'w-100 w-sm-85': screenWidth <= 960 }">
              <div class="d-flex align-items-center">
             
                  <div class="col-lg-3">
                  <h2>{{'header.partnerTitles.centralAdministration' | translate}}</h2>
                </div>
                <div class="col-lg-3">
                  <h2>{{'header.partnerTitles.generalDirectorate' | translate}}</h2>
                </div>
                <div class="col-lg-3">
                  <h2>{{'header.partnerTitles.EServices' | translate}}</h2>
                </div>
                
                <a class="{{currentLang === 'ar' ? 'mr-auto':'ml-auto'}} notification"
                   routerLink="/pages/notification-list">
                  <div class="bellContainer">
                    <i class="fas fa-bell"></i>

                    <span class="notificationCountClass">{{notificationCount}}</span>
                  </div>
                </a>
                <div class="changeLang {{currentLang === 'ar' ? 'mr-4':'ml-4'}}">
                  <select class="form-control" #langauge (change)="translateSite(langauge.value)">

                    <option *ngFor="let localization of translateService.getLangs()" [value]="localization"
                            [selected]="localization === localization.currentLang">
                      {{ localization.toUpperCase() }}
                    </option>

                  </select>
                </div>
              </div>
            </div>
            <div
              class="btn-group mx-auto {{currentLang === 'ar' ? ' mr-sm-auto':'ml-sm-auto'}} dropdown forResponsiveMenu"
              dropdown>
              <button class="dropbtn btn btn-primary" type="button" dropdownToggle aria-controls="dropdown-basic">
                <span>
                <i class="fas fa-bars"></i>
              </span>
              </button>
              <div class="dropdown-content">
                <ul *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li *ngFor="let item of menuObject;let i =index" role="menuitem">
                    <a class="dropdown-item {{currentLang === 'ar' ? 'text-right' : 'text-left'}}"
                       routerLink="{{item.link}}" routerLinkActive="active">
                      {{item.name[currentLang]}}
                    </a>
                  </li>
                  <li class="profile-menu">
                    <div
                      class="profile d-inline-flex justify-content-center align-items-center {{currentLang === 'ar' ? 'mr-auto':'ml-auto'}}">
                      <div class="profileIcon {{currentLang === 'ar' ? ' mr-3':'ml-3'}}">
                      <span>
                        <i class="fas fa-user"></i>
                      </span>
                      </div>
                      <div class="profileMenu">
                        <div class="btn-group text-right" dropdown>
                          <button id="button-basic"
                                  dropdownToggle
                                  type="button"
                                  class="btn btn-primary dropdown-toggle"
                                  aria-controls="dropdown-basic">
                            <span class="menu-title">Specturm</span>
                            <span>
                            <i class="fas fa-chevron-down"></i>
                          </span>
                          </button>
                          <ul *dropdownMenu
                              class="dropdown-menu dropdown-menu-right"
                              role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                              <a class="dropdown-item" (click)="logoutFunction()">Logout</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-0 pt-3 pb-3">
          <div class="d-flex align-items-center">
            <div class="menu {{currentLang === 'ar' ? 'ml-4':'mr-4'}}">
              <ul>
                <li *ngFor="let item of menuObject; let i = index"
                    class="{{i !== menuObject?.length-1  ? currentLang === 'ar' ? 'ml-3':'mr-2' : ''}}">
                  <a class=" {{currentLang === 'ar' ? 'text-right' : 'text-left'}}" *ngIf="!item.dropDownStatus"
                     routerLink="{{item.link}}" routerLinkActive="active">
                    <span class="{{currentLang === 'ar' ? 'mr-1':'ml-1'}}">
                      <i class="{{item.icon}}"></i>
                    </span>
                    <span *ngIf="item.name">
                      {{item.name[currentLang]}}
                    </span>
                  </a>
                  <div *ngIf="item.dropDownStatus" class="btn-group dropdown" dropdown triggers="hover">
                    <a dropdownToggle
                       aria-controls="dropdown-basic"
                       [ngClass]="{'active': isActive(item.link)}">
                      <span class="{{currentLang === 'ar' ? 'mr-1':'ml-1'}}">
                        <i class="{{item.icon}}"></i>
                      </span>
                      <span *ngIf="item.name">
                        {{item.name[currentLang]}}
                      </span>
                      <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-content">
                      <ul *dropdownMenu class="dropdown-menu"
                          role="menu" aria-labelledby="button-basic">
                        <li *ngFor="let element of item?.dropdownLinks" role="menuitem">
                          <a class="dropdown-item  {{currentLang === 'ar' ? 'text-right' : 'text-left'}}"
                             routerLink="{{element.link}}" routerLinkActive="active">
                            <span class="{{currentLang === 'ar' ? 'mr-1':'ml-1'}}">
                              <i class="{{element.icon}}"></i>
                            </span>
                            {{element.name[currentLang]}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div
              class="profile d-inline-flex justify-content-center align-items-center {{currentLang === 'ar' ? 'mr-auto':'ml-auto '}} none">
              <div class="profileIcon">
                <span>
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <div class="profileMenu">
                <div class="btn-group {{currentLang === 'ar' ? 'text-left':'text-right'}}" dropdown>
                  <button dropdownToggle
                          type="button"
                          class="btn dropdown-toggle"
                          aria-controls="dropdown-basic">
                    <span class="ellipsisSpan" tooltip="{{Username}}" placement="right">{{Username}}</span>
                    <span>
                    <i class="fas fa-chevron-down"></i>
                  </span>
                  </button>
                  <ul *dropdownMenu
                      class="dropdown-menu dropdown-menu-right"
                      role="menu" aria-labelledby="button-basic">
					  <li role="menuitem">
                          <a class="dropdown-item  {{currentLang === 'ar' ? 'text-right' : 'text-left'}}"
                          routerLink="/pages/cosmetics-product/inner/premix-list" routerLinkActive="active">
                         <span class="{{currentLang === 'ar' ? 'mr-1':'ml-1'}}">   <i class="fas fa-dolly-flatbed"></i></span>
                      New Premix
                       </a>
                        </li>
					   <li role="menuitem">
                        <a class="dropdown-item" >My Account</a>
                      </li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="logoutFunction()">Logout</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<alert type="success" *ngIf="alertNotificationStatus">
  <strong>Welcome</strong> <br> in the Portal
</alert>

<alert type="danger" class="AlertForAllRequests" dismissible="true" *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> Failed Login
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
