.titleStyle span.lineBeforeTitle {
  width: 50px;
  height: 2px;
  background: #161c30;
  margin-right: 1em;
}

.titleLabel {
  width: 50px;
  height: 10px;
  background: #c28a30;
  margin-left: 88px;
  margin-top: 1em;
}

h2, h4 {
  font-weight: bolder;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}
