<div class="row">
  <div class="col-12">
    <app-title
      title="{{'header.pharmaceuticalRawMaterial' | translate}} - {{'header.draftRequest' | translate}}"
      [bigTitle]="true"></app-title>
  </div>
  <div class="col-12 mt-5">
    <div class="tableContainer">
      <app-table-list [data]="draftList"
                      [whichTable]="'drafted'"></app-table-list>
    </div>
  </div>
</div>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()"
       *ngIf="alertErrorNotificationStatus">
  <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>
