<div class="row">
    <div class="col-12">
        <app-title title="{{'header.cosmeticsProducts' | translate}} - {{'header.draftRequest' | translate}}" [bigTitle]="true"></app-title>
    </div>
    <div class="col-12 mt-5">
        <div class="tableContainer draftList">
            <app-table-list [data]="draftList" (removeDraftProduct)="openDeleteModal($event)" [whichTable]="'drafted'"></app-table-list>
        </div>
    </div>
</div>

<alert type="danger" dismissible="true" class="AlertForAllRequests" (onClosed)="onClosedErrorAlert()" *ngIf="alertErrorNotificationStatus">
    <strong>Error Message</strong> <br> {{alertErrorNotification.msg}}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>

<ng-template #deleteModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Draft Product</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">
                    Are you sure you want to delete this product with request number <b>({{modalRequestId}})</b> ?
                </h2>
            </div>
            <div class="col-12 col-sm-4"></div>
            <div class="col-12 col-sm-4 d-flex align-items-center mt-2 justify-content-center">
                <button type="button" class="btn btn-primary" (click)="removeProduct()">Yes</button>
                <button type="button" class="btn btn-primary ml-auto" (click)="modalRef.hide()">No</button>
            </div>
        </div>
    </div>
</ng-template>