<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand">
      {{'Title' | translate }}
    </a>
    <span class="form-inline">
      <select class="form-control" #langauge (change)="translateSite(langauge.value)">

        <option *ngFor="let localization of translateService.getLangs()" [value]="localization"
                [selected]="localization === localization.currentLang">
          {{ localization }}
        </option>

      </select>
    </span>
  </div>
</nav>

<h1>{{'title' | translate}}</h1>
