<div *ngIf="data.tableBody && data.tableBody.length > 0">
  <div
    *ngIf="whichTable === 'drafted'">
    <app-filters [filterData]="filterData"
                 [removeFilterKey]="removeFilterKey"
                 (selectedFilteredData)="setTheFilteredData($event)"></app-filters>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-12">
    <div class="content-wrapper">
      <div class="table-responsive mt-5">
        <table class="table table-sm table-ordered" *ngIf="data.tableBody && data.tableBody.length > 0">
          <tr class="headerRow">
            <th class="{{currentLang === 'ar' ? 'text-right' : 'text-left'}}"
                *ngFor="let request of data.tableHeader; let i = index">
              {{ request |translate}}
              <span *ngIf="i !== data.tableHeader.length - 1" (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr
            *ngFor="let request of this.dataAfterFilters.length> 0 ? this.dataAfterFilters : returnedArray && returnedArray.length > 0 ? returnedArray : data.tableBody; let i = index">
            <td colspan="6" *ngIf="whichTable === 'drafted'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="table-responsive">
                        <table class="table table-sm tableDetailsCont">
                          <tr>
                            <td class="hide">{{request.bolNo}}</td>
                            <td>{{request.companyName}}</td>
                            <td>{{request.countryName}}</td>
                            <td class="hide">{{request.releaseType}}</td>
                            <td class="hide">{{request.createdDate | date}}</td>
                            <td>
                              <span (click)="editProduct(request)">
                                <i class="fa fa-edit"></i>
                              </span>
                              <span class="ml-2" (click)="deleteDraftrequest(request.id)">
                                                            <i class="fa fa-trash"></i>
                                                          </span>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Request id :</label>-->
                      <!--                        <span>{{request.ID}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Saved date :</label>-->
                      <!--                        <span>{{request.SubmmittionDate}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Product English name :</label>-->
                      <!--                        <span>{{request.NameEN}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Type Of Notification :</label>-->
                      <!--                        <span>{{request.productTypeName}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Type Of Request :</label>-->
                      <!--                        <span>{{request.flagTrackName}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Track Type :</label>-->
                      <!--                        <span>{{request.Track_type}}</span>-->
                      <!--                      </div>-->
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="8" *ngIf="whichTable === 'track'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="table-responsive">
                        <table class="table table-sm tableDetailsCont">
                          <tr>
                            <td class="col-md-1">{{request.requestId}}</td>     
                            <td class="col-md-1">{{request.bolNo}}</td>
                            <td class="col-md-2" >{{request.companyName}}</td>
                            <td class="col-md-1">{{request.countryName}}</td>
                            <td class="col-md-2">{{request.createdBy}}</td>
                            <td class="col-md-2">{{request.SubmitDate | date}}</td>
                            <td class="col-md-1">{{request.status}}</td>                       
                                            
                                                   
                       <!--      <td class="col-md-2">
                                  <span (click)="editProduct(request)">
                                    <i class="fa fa-edit"></i>
                                  </span>
                                  <span class="ml-2" (click)="deleteProduct(request)">
                                    <i class="fa fa-trash"></i>
                                  </span>
                            </td> -->
                          </tr>
                        </table> 
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Request id :</label>-->
                      <!--                        <span>{{request.ID}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Saved date :</label>-->
                      <!--                        <span>{{request.SubmmittionDate}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Product English name :</label>-->
                      <!--                        <span>{{request.NameEN}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Type Of Notification :</label>-->
                      <!--                        <span>{{request.productTypeName}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Type Of Request :</label>-->
                      <!--                        <span>{{request.flagTrackName}}</span>-->
                      <!--                      </div>-->
                      <!--                      <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                        <label class="label">Track Type :</label>-->
                      <!--                        <span>{{request.Track_type}}</span>-->
                      <!--                      </div>-->
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="5" *ngIf="whichTable === 'invoiceList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.invoiceNo}}</td>
                          <td>{{request.invoiceDate | date}}</td>
                          <td>{{request.invoiceValue | number}}</td>
                          <td>{{request.currency}}</td>
                          <td>
                            <span>
                              <i class="fa fa-trash"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Invoice No :</label>
                        <span>{{request.invoiceNo}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">With in Included :</label>
                        <span>{{request.withinIncluded}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Invoice Value :</label>
                        <span>{{request.invoiceValue}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">invoiceDate :</label>
                        <span>{{request.invoiceDate | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Country Of Origin :</label>
                        <span>{{request.countryOfOrigin}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Currency :</label>
                        <span>{{request.currency}}</span>
                      </div>

                      <!--                      <div class="col-12 mt-4" *ngIf="request.detailsTable.length > 0">-->
                      <!--                        <div class="row">-->
                      <!--                          <div class="col-12">-->
                      <!--                            <app-title [title]="'Product Details Table'" [smallTitle]="true"></app-title>-->
                      <!--                          </div>-->
                      <!--                          <div class="col-12 mt-3">-->
                      <!--                            <div class="table-responsive">-->
                      <!--                              <table class="table table-sm table-ordered">-->
                      <!--                                <tr class="headerRow">-->
                      <!--                                  <th>-->
                      <!--                                    Colour-->
                      <!--                                    <span (click)="sortBy(sortStatus, request)">-->
                      <!--                            <i class="fa fa-sort"></i>-->
                      <!--                          </span>-->
                      <!--                                  </th>-->
                      <!--                                  <th>-->
                      <!--                                    Fragrance-->
                      <!--                                    <span (click)="sortBy(sortStatus, request)">-->
                      <!--                            <i class="fa fa-sort"></i>-->
                      <!--                          </span>-->
                      <!--                                  </th>-->
                      <!--                                  <th>-->
                      <!--                                    Flavor-->
                      <!--                                    <span (click)="sortBy(sortStatus, request)">-->
                      <!--                                <i class="fa fa-sort"></i>-->
                      <!--                              </span>-->
                      <!--                                  </th>-->
                      <!--                                  <th>-->
                      <!--                                    BarCode-->
                      <!--                                    <span (click)="sortBy(sortStatus, request)">-->
                      <!--                                <i class="fa fa-sort"></i>-->
                      <!--                              </span>-->
                      <!--                                  </th>-->
                      <!--                                </tr>-->
                      <!--                                <tr *ngFor="let requestDetails of request.detailsTable; let index = index">-->
                      <!--                                  <td colspan="5">-->
                      <!--                                    <mat-accordion>-->
                      <!--                                      <mat-expansion-panel class="areaContainer" [expanded]="false" hideToggle>-->
                      <!--                                        <mat-expansion-panel-header class="insidePanelHeader">-->
                      <!--                                          <mat-panel-title>-->
                      <!--                                            <table class="table table-sm tableDetailsCont">-->
                      <!--                                              <tr>-->
                      <!--                                                <td>{{requestDetails.colour}}</td>-->
                      <!--                                                <td>{{requestDetails.fragrance}}</td>-->
                      <!--                                                <td>{{requestDetails.flavor}}</td>-->
                      <!--                                                <td>{{requestDetails.barCode}}</td>-->
                      <!--                                              </tr>-->
                      <!--                                            </table>-->
                      <!--                                          </mat-panel-title>-->
                      <!--                                        </mat-expansion-panel-header>-->
                      <!--                                        <div class="detailsContainer pt-4">-->
                      <!--                                          <div class="row">-->
                      <!--                                            <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                                              <label class="label">Colour :</label>-->
                      <!--                                              <span>{{requestDetails.colour}}</span>-->
                      <!--                                            </div>-->
                      <!--                                            <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                                              <label class="label">Fragrance :</label>-->
                      <!--                                              <span>{{requestDetails.fragrance}}</span>-->
                      <!--                                            </div>-->
                      <!--                                            <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                                              <label class="label ">Flavor :</label>-->
                      <!--                                              <span>{{requestDetails.flavor}}</span>-->
                      <!--                                            </div>-->
                      <!--                                            <div class="col-12 col-sm-6 col-md-4">-->
                      <!--                                              <label class="label">BarCode :</label>-->
                      <!--                                              <span>{{requestDetails.barCode}}</span>-->
                      <!--                                            </div>-->
                      <!--                                            <div class="col-12 mt-4"-->
                      <!--                                                 *ngIf="requestDetails.ingrediantDetails.length > 0">-->
                      <!--                                              <div class="row">-->
                      <!--                                                <div class="col-12">-->
                      <!--                                                  <app-title [title]="'Ingrediant Table'"-->
                      <!--                                                             [smallTitle]="true"></app-title>-->
                      <!--                                                </div>-->
                      <!--                                                <div class="col-12 mt-3">-->
                      <!--                                                  <div class="table-responsive">-->
                      <!--                                                    <table class="table table-sm table-ordered">-->
                      <!--                                                      <tr class="headerRow">-->
                      <!--                                                        <th>-->
                      <!--                                                          Ingrediant-->
                      <!--                                                          <span (click)="sortBy(sortStatus, request)">-->
                      <!--                                                      <i class="fa fa-sort"></i>-->
                      <!--                                                    </span>-->
                      <!--                                                        </th>-->
                      <!--                                                        <th>-->
                      <!--                                                          Concentrations-->
                      <!--                                                          <span (click)="sortBy(sortStatus, request)">-->
                      <!--                                                      <i class="fa fa-sort"></i>-->
                      <!--                                                    </span>-->
                      <!--                                                        </th>-->
                      <!--                                                        <th>-->
                      <!--                                                          Function-->
                      <!--                                                          <span (click)="sortBy(sortStatus, request)">-->
                      <!--                                                      <i class="fa fa-sort"></i>-->
                      <!--                                                    </span>-->
                      <!--                                                        </th>-->
                      <!--                                                      </tr>-->
                      <!--                                                      <tr-->
                      <!--                                                        *ngFor="let requestDetailsIngrediant of requestDetails.ingrediantDetails; let indexChild = index">-->
                      <!--                                                        <td colspan="3">-->
                      <!--                                                          <mat-accordion>-->
                      <!--                                                            <mat-expansion-panel class="areaContainer"-->
                      <!--                                                                                 [expanded]="false"-->
                      <!--                                                                                 hideToggle-->
                      <!--                                                                                 disabled="true">-->
                      <!--                                                              <mat-expansion-panel-header class="insidePanelHeader">-->
                      <!--                                                                <mat-panel-title>-->
                      <!--                                                                  <table class="table table-sm tableDetailsCont">-->
                      <!--                                                                    <tr>-->
                      <!--                                                                      <td>{{requestDetailsIngrediant.ingrediant}}</td>-->
                      <!--                                                                      <td>{{requestDetailsIngrediant.concentrations}}</td>-->
                      <!--                                                                      <td>{{requestDetailsIngrediant.function}}</td>-->
                      <!--                                                                    </tr>-->
                      <!--                                                                  </table>-->
                      <!--                                                                </mat-panel-title>-->
                      <!--                                                              </mat-expansion-panel-header>-->
                      <!--                                                            </mat-expansion-panel>-->
                      <!--                                                          </mat-accordion>-->
                      <!--                                                        </td>-->
                      <!--                                                      </tr>-->
                      <!--                                                    </table>-->
                      <!--                                                  </div>-->
                      <!--                                                </div>-->
                      <!--                                              </div>-->
                      <!--                                            </div>-->
                      <!--                                          </div>-->
                      <!--                                        </div>-->
                      <!--                                      </mat-expansion-panel>-->
                      <!--                                    </mat-accordion>-->
                      <!--                                  </td>-->
                      <!--                                </tr>-->
                      <!--                              </table>-->
                      <!--                            </div>-->
                      <!--                          </div>-->
                      <!--                        </div>-->
                      <!--                      </div>-->
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="6" *ngIf="whichTable === 'itemList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td>{{request.ItemTypeId}}</td>
                          <td>{{request.importReason}}</td>
                          <td>{{request.manufacturingCompany}}</td>
                          <td>{{request.quantity}}</td>
                          <td>{{request.batchNo}}</td>
                          <td>
                            <span>
                              <i class="fa fa-trash"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Item Type :</label>
                        <span>{{request.itemType}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Import reason :</label>
                        <span>{{request.importReason}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label ">Manufacturing company :</label>
                        <span>{{request.manufacturingCompany}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Quantity :</label>
                        <span>{{request.quantity}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Batch Number :</label>
                        <span>{{request.batchNo}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="7" *ngIf="whichTable === 'notificationList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm notificationListTable">
                        <tr>
                          <td>{{request.request_id}}</td>
                          <td>{{request.notification_no}}</td>
                          <td><span class="ellipsisSpan" tooltip="{{request.comments}}"
                                    placement="right">{{request.comments}}</span></td>
                          <td>{{request.requestTypeName}}</td>
                          <td>{{request.notification_time | date}}</td>
                          <td><span class="ellipsisSpan" tooltip="{{request.productName}}"
                                    placement="right">{{request.productName}}</span></td>
                          <td class="text-center">
                            <span class="readIcon open" *ngIf="!request.f_seen"
                                  (click)="request.f_seen =! request.f_seen; seenNotificationFunction(request.id)"><i
                              class="fas fa-envelope"></i></span>
                            <span class="readIcon" *ngIf="request.f_seen"><i class="fas fa-envelope-open"></i></span>
                            <!--                            <button *ngIf="!request.f_seen" type="button" class="btn btn-primary"-->
                            <!--                                    (click)="request.f_seen =! request.f_seen; seenNotificationFunction(request.id)">-->
                            <!--                              <i class="fas fa-eye"></i> Read-->
                            <!--                            </button>-->
                            <!--                            <button *ngIf="request.f_seen" type="button" class="btn btn-primary active">-->
                            <!--                              <i class="fas fa-eye-slash"></i> Unread-->
                            <!--                            </button>-->
                          </td>
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="detailsContainer pt-4">
                    <div class="row">
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notificaiton Number :</label>
                        <span>{{request.notification_no}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-8">
                        <label class="label">Notification comment :</label>
                        <span>{{request.comments}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Request Type Name :</label>
                        <span>{{request.requestTypeName}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Notification date :</label>
                        <span>{{request.notification_time | date}}</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <label class="label">Product Name :</label>
                        <span>{{request.productName}}</span>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
        </table>

        <!-- table For Empty Data -->
        <table class="table table-sm table-ordered" *ngIf="data.tableBody && data.tableBody.length === 0">
          <tr class="headerRow">
            <th class="{{currentLang === 'ar' ? 'text-right' : 'text-left'}}"
                *ngFor="let request of data.tableHeader; let i = index">
              {{'tables.' + request |translate}}
              <span *ngIf="i !== data.tableHeader.length - 1" (click)="sortBy(sortStatus, request)">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
          <tr class="text-center">
            <td colspan="6" *ngIf="whichTable === 'drafted'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td colspan="6">{{'tables.emptyRows' | translate}}</td> <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="8" *ngIf="whichTable === 'track'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                        <td colspan="8">{{'tables.emptyRows' | translate}}</td>   <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="5" *ngIf="whichTable === 'invoiceList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td colspan="5">{{'tables.emptyRows' | translate}}</td> <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="6" *ngIf="whichTable === 'itemList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td colspan="6">{{'tables.emptyRows' | translate}}</td> <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
            <td colspan="7" *ngIf="whichTable === 'notificationList'">
              <mat-accordion>
                <mat-expansion-panel class="areaContainer" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <table class="table table-sm tableDetailsCont">
                        <tr>
                          <td colspan="7">{{'tables.emptyRows' | translate}}</td> <!--  -->
                        </tr>
                      </table>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </mat-accordion>
            </td>
          </tr>
        </table>

        <div class="tableAlertContainer" *ngIf="alertNotificationStatus">
          <h1 class="text-uppercase"> You had the wrong data for filtering </h1>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3" *ngIf="data.tableBody && data.tableBody.length > 0">
      <pagination *ngIf="contentArray.length > 0"
                  [totalItems]="contentArray.length"
                  [maxSize]="30"
                  [rotate]="true"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
